@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    margin: 0px;
    padding: 0px;

}

h1 {
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    background-image: linear-gradient(to right,#1994FA, #1995fa5b);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
}

section {
    padding: 20px 5px;
    margin: auto;
    background-color: rgb(10, 230, 230);
    width: 70vw;
    min-width: 490px;
    max-width: 800px;
}

h2 {
    padding: 10px 0px;
}

select {
    height: 170px;
    width: 150px;
}